header {
    display: flex;
    justify-content: center;
    color: #111;
    font-family: opensans;
    font-size: 1.625em;
    font-weight: bold;
    letter-spacing: -0.04em;
    line-height: 1.75em;
    margin: 10px;
    text-transform: uppercase;

}

@media screen and (max-width: 480px) {
    header {
        display: flex;
        justify-content: flex-start;
    }
}