header {
    display: flex;
    color: #111;
    font-family: opensans;
    font-size: 1.625em;
    font-weight: bold;
    letter-spacing: -0.04em;
    line-height: 1.75em;
    margin-bottom: 10px;
    text-transform: uppercase;

}