table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.tabela-futevolei {
    display: flex;
}

tbody {
    padding: 10px;
}

.img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 15px
}

.posicao {
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center;

}

.numero {
    padding: 10px;
    font-size: 20px;
}